@model IEnumerable<ProjectYK.Models.Event>
@{
    ViewData["Title"] = "Home Page";
}

<a asp-action="AddSponsor" asp-controller="Home">Добавить организатора</a>
<br />
<a asp-action="AddPlace" asp-controller="Home">Добавить Место</a>
<br />
<a asp-action="AddEvent" asp-controller="Home">Добавить Событие</a>
<br />
<a asp-action="AddType" asp-controller="Home">Добавить тип событий</a>
<br />

    <table class="table">
        <thead>
            <tr>
                <th class="thead-light">Организатор</th>
                <th class="thead-light">Тип события</th>
                <th class="thead-light">Название события</th>
                <th class="thead-light">Описание</th>
                <th class="thead-light">Место провидения</th>
                <th class="thead-light">Точный адрес</th>
                <th class="thead-light">Время начала</th>
                <th class="thead-light">Время завершения</th>
                <th class="thead-light">Дата начала</th>
                <th class="thead-light">Дата завершения</th>
                <th class="thead-light">Тип повторения</th>
                <th class="thead-light">Интервал</th>
                <th class="thead-light">Число месяца</th>
                <th class="thead-light">Порядковый номер дня</th>
                <th class="thead-light">День недели</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.SponsorId</td>
                    <td>@item.TypeId</td>
                    <td>@item.Name</td>
                    <td>@item.Description</td>
                    <td>@item.PlaceId</td>
                    <td>@item.Address</td>
                    <td>@item.Start_Time</td>
                    <td>@item.Finish_Time</td>
                    <td>@item.Start_Day</td>
                    <td>@item.Finish_Day</td>
                    <td>@item.Recurs</td>
                    <td>@item.Recurs_Interval</td>
                    <td>@item.Recurs_Day_Number</td>
                    <td>@item.Recurs_Serial_Day</td>
                    <td>@item.Recurs_Day_of_Week</td>
                </tr>
            }
        </tbody>
    </table>
